/* User define the root variables */
:root {
  --falcon-duration: 1s;
  --falcon-fill-mode: both;
}
/* Copyrights FalconCSS - 2022 */

/* Class to test div */

body{
  display: flex;
  justify-content: center;
  align-items: center;
}


.test{
  width: 500px;
  height: 500px;
  background-color: blue;
  overflow: hidden;
}

.falcon--animated {
  animation-duration: 1s;
  -webkit-animation-duration: var(--falcon-duration);
  animation-fill-mode: both;
  -webkit-animation-fill-mode: var(--falcon-fill-mode);
}

.falcon--animated.falcon--infinite {
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.falcon--animated.falcon--fast {
  -webkit-animation-duration: calc(var(--falcon-duration) * 0.8);
  animation-duration: calc(var(--falcon-duration) * 0.8);
}

/* Animations of Fade */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.falcon--fadeIn {
  animation-name: fadeIn;
}

.falcon--fadeOut {
  animation-name: fadeOut;
}

/* Animations Scale */

.falcon--scale-10 {
  transition: 200ms ease-in;
  transition-duration: 200ms;
}
.falcon--scale-10:hover {
  transform: scale(1.01);
}

.falcon--scale-20 {
  transition-duration: 200ms;
  transition: 200ms ease-in;
}
.falcon--scale-20:hover {
  transform: scale(1.02);
}

.falcon--scale-30 {
  transition-duration: 200ms;
  transition: 200ms ease-in;
}
.falcon--scale-30:hover {
  transform: scale(1.03);
}

.falcon--scale-40 {
  transition-duration: 200ms;
  transition: 200ms ease-in;
}
.falcon--scale-40:hover {
  transform: scale(1.04);
}

.falcon--scale-50 {
  transition-duration: 200ms;
  transition: 200ms ease-in;
}
.falcon--scale-50:hover {
  transform: scale(1.05);
}

.falcon--scale-60 {
  transition-duration: 200ms;
  transition: 200ms ease-in;
}
.falcon--scale-60:hover {
  transform: scale(1.06);
}

.falcon--scale-70 {
  transition-duration: 200ms;
  transition: 200ms ease-in;
}
.falcon--scale-70:hover {
  transform: scale(1.07);
}

.falcon--scale-80 {
  transition-duration: 200ms;
  transition: 200ms ease-in;
}
.falcon--scale-80:hover {
  transform: scale(1.08);
}

.falcon--scale-90 {
  transition-duration: 200ms;
  transition: 200ms ease-in;
}
.falcon--scale-90:hover {
  transform: scale(1.09);
}

.falcon--scale-100 {
  transition-duration: 200ms;
  transition: 200ms ease-in;
}
.falcon--scale-100:hover {
  transform: scale(1.1);
}

/* Animation Shake */

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.falcon--shake:hover {
  animation-name: shake;
  animation-iteration-count: infinite;
}

/* Animations Shake with Scale */

@keyframes shakeScale10 {
  0% { transform: translate(1px, 1px) rotate(0deg) scale(1.01); }
  10% { transform: translate(-1px, -2px) rotate(-1deg) scale(1.01); }
  20% { transform: translate(-3px, 0px) rotate(1deg) scale(1.01); }
  30% { transform: translate(3px, 2px) rotate(0deg) scale(1.01); }
  40% { transform: translate(1px, -1px) rotate(1deg) scale(1.01); }
  50% { transform: translate(-1px, 2px) rotate(-1deg) scale(1.01); }
  60% { transform: translate(-3px, 1px) rotate(0deg) scale(1.01); }
  70% { transform: translate(3px, 1px) rotate(-1deg) scale(1.01); }
  80% { transform: translate(-1px, -1px) rotate(1deg) scale(1.01); }
  90% { transform: translate(1px, 2px) rotate(0deg) scale(1.01); }
  100% { transform: translate(1px, -2px) rotate(-1deg) scale(1.01); }
}


.falcon--shake--scale-10:hover{
  animation-name: shakeScale10;
  animation-iteration-count: infinite;
}

@keyframes shakeScale20 {
  0% { transform: translate(1px, 1px) rotate(0deg) scale(1.02); }
  10% { transform: translate(-1px, -2px) rotate(-1deg) scale(1.02); }
  20% { transform: translate(-3px, 0px) rotate(1deg) scale(1.02); }
  30% { transform: translate(3px, 2px) rotate(0deg) scale(1.02); }
  40% { transform: translate(1px, -1px) rotate(1deg) scale(1.02); }
  50% { transform: translate(-1px, 2px) rotate(-1deg) scale(1.02); }
  60% { transform: translate(-3px, 1px) rotate(0deg) scale(1.02); }
  70% { transform: translate(3px, 1px) rotate(-1deg) scale(1.02); }
  80% { transform: translate(-1px, -1px) rotate(1deg) scale(1.02); }
  90% { transform: translate(1px, 2px) rotate(0deg) scale(1.02); }
  100% { transform: translate(1px, -2px) rotate(-1deg) scale(1.02); }
}

.falcon--shake--scale-20:hover{
  animation-name: shakeScale20;
  animation-iteration-count: infinite;
}

@keyframes shakeScale30 {
  0% { transform: translate(1px, 1px) rotate(0deg) scale(1.03); }
  10% { transform: translate(-1px, -2px) rotate(-1deg) scale(1.03); }
  20% { transform: translate(-3px, 0px) rotate(1deg) scale(1.03); }
  30% { transform: translate(3px, 2px) rotate(0deg) scale(1.03); }
  40% { transform: translate(1px, -1px) rotate(1deg) scale(1.03); }
  50% { transform: translate(-1px, 2px) rotate(-1deg) scale(1.03); }
  60% { transform: translate(-3px, 1px) rotate(0deg) scale(1.03); }
  70% { transform: translate(3px, 1px) rotate(-1deg) scale(1.03); }
  80% { transform: translate(-1px, -1px) rotate(1deg) scale(1.03); }
  90% { transform: translate(1px, 2px) rotate(0deg) scale(1.03); }
  100% { transform: translate(1px, -2px) rotate(-1deg) scale(1.03); }
}

.falcon--shake--scale-30:hover{
  animation-name: shakeScale30;
  animation-iteration-count: infinite;
}


@keyframes shakeScale40 {
  0% { transform: translate(1px, 1px) rotate(0deg) scale(1.04); }
  10% { transform: translate(-1px, -2px) rotate(-1deg) scale(1.04); }
  20% { transform: translate(-3px, 0px) rotate(1deg) scale(1.04); }
  30% { transform: translate(3px, 2px) rotate(0deg) scale(1.04); }
  40% { transform: translate(1px, -1px) rotate(1deg) scale(1.04); }
  50% { transform: translate(-1px, 2px) rotate(-1deg) scale(1.04); }
  60% { transform: translate(-3px, 1px) rotate(0deg) scale(1.04); }
  70% { transform: translate(3px, 1px) rotate(-1deg) scale(1.04); }
  80% { transform: translate(-1px, -1px) rotate(1deg) scale(1.04); }
  90% { transform: translate(1px, 2px) rotate(0deg) scale(1.04); }
  100% { transform: translate(1px, -2px) rotate(-1deg) scale(1.04); }
}

.falcon--shake--scale-40:hover{
  animation-name: shakeScale40;
  animation-iteration-count: infinite;
}



@keyframes shakeScale50 {
  0% { transform: translate(1px, 1px) rotate(0deg) scale(1.05); }
  10% { transform: translate(-1px, -2px) rotate(-1deg) scale(1.05); }
  20% { transform: translate(-3px, 0px) rotate(1deg) scale(1.05); }
  30% { transform: translate(3px, 2px) rotate(0deg) scale(1.05); }
  40% { transform: translate(1px, -1px) rotate(1deg) scale(1.05); }
  50% { transform: translate(-1px, 2px) rotate(-1deg) scale(1.05); }
  60% { transform: translate(-3px, 1px) rotate(0deg) scale(1.05); }
  70% { transform: translate(3px, 1px) rotate(-1deg) scale(1.05); }
  80% { transform: translate(-1px, -1px) rotate(1deg) scale(1.05); }
  90% { transform: translate(1px, 2px) rotate(0deg) scale(1.05); }
  100% { transform: translate(1px, -2px) rotate(-1deg) scale(1.05); }
}

.falcon--shake--scale-50:hover{
  animation-name: shakeScale50;
  animation-iteration-count: infinite;
}


/* Animation Spin/Loading */

@keyframes isLoading {
  to{
    transform: rotate(1turn)
  }
}

/* Missing other values like .falcon--loader-30 etc..  */ 

.falcon--loader {
  border: 12px solid #f3f3f3; 
  border-top: 12px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: isLoading 2s linear infinite;
}

/* Animation Bounce */

@keyframes bounce{
  20%, 50%, 80%, to{
    transform: translateY(0);
  }
  40%{
    transform: translateY(-30px);
  }
  70%{
    transform: translateY(-15px);
  }
  90%{
    transform: translateY(-4px);
  }

}

.falcon--bounce:hover{
  animation: bounce 1s linear;
}


/* Animations Flash */

/* Missing Smoothness */


@keyframes flash{
  0%, 50%, 100% {
    opacity: 1;
 }
 25%, 75% {
    opacity: 0;
 }
}

.falcon--flash:hover {
  animation: flash 1.2s step-start infinite;
}



